.container
  %h1 Discover fighter n°#{@fighter.id}:
  %h2 Name
  %p=@fighter.name

  %h2 Health Points
  %p=@fighter.hp

  %h2 Attack Points
  %p=@fighter.attack

  %br
  =link_to 'Edit', edit_fighter_path(@fighter), class: 'btn-flat'
  =link_to 'Back', fighters_path, class: 'btn-ghost'
