/* Index Fighter */
.card-list-fighter {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-list-fighter-infos {
    padding: 16px;
  }

  .card-list-fighter-btn {
    margin-top: 15px;
  }

  .card-list-fighter-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    p {
      font-weight: bold;
    }

    .victories, .losses {
      color: #ffffff;
      padding: 4px;
      border-radius: 4px;
    }

    .victories {
      background-color: green;
    }

    .losses {
      background-color: red;
    }
  }
}

/* Show Fighter */
.card-fighter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;

  .card-fighter-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }
}

.card-fighter-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    background-color: #000000;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: lighter;
  }

  .card-fighter-profile-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.card-fighter-profile-name, .card-fighter-profile-hp, .card-fighter-profile-attack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
