<div class="card-list-fighter">
  <%= image_tag fighter.photo %>
  <div class="card-list-fighter-infos">
    <h2><%= fighter.name %></h2>
    <p>Remaining HP at the end of the fight : <strong><%= fighter.hp %></strong></p>
  </div>
</div>
