<div class="container">
  <br>
  <div class="card-fighter-header">
    <div class="card-fighter-title">
      <h1>Output of the fight</h1>
      <%= link_to "Fight again?", fights_path, class:"btn-red" %>
    </div>
  </div>
  <div>
    <div>
      <h2 class="winner">Winner:</h2>
      <%= render 'result_fight', fighter: @result[:winner][:fighter] %>
      <h2 class="loser">Loser:</h2>
      <%= render 'result_fight', fighter: @result[:loser][:fighter] %>
    </div>
  </div>
</div>
